<mat-card>
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>eMail</th>
                <th>City</th>
            </tr>
            <tr>
                <td>Name1</td>
                <td>eMail1</td>
                <td>City1</td>
            </tr>

            <tr>
                <td>Name2</td>
                <td>eMail2</td>
                <td>City2</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" 
    matTooltip="Add user" [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>