<mat-card>
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>eMail</th>
                <th>City</th>
            </tr>

            <tr *ngFor = "let data of userData" [routerLink]="['/user/' + data.id]">
                <td>{{ data.firstName }} {{ data.lastName }}</td>
                <td>{{ data.eMail }}</td>
                <td>{{ data.city }}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" 
    matTooltip="Add user" [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>